<nav class="c-nav hidden lg:flex justify-between align-center">
  <a href="/" class="c-nav__logo flex align-center">
    <img class="c-nav__logo-img" src="/images/logos/header-logo.svg" alt="Waveless" />
  </a>
  <ul class="c-nav__items flex align-center">
    <li class="c-nav__item active">
      <a class="c-nav__item-link" href="/">
        <i class="icon icon-mountain"></i>
        Aventura
      </a>
    </li>
    <li class="c-nav__item">
      <a class="c-nav__item-link" href=""><i class="icon icon-world"></i> Destinos</a>
    </li>
    <li class="c-nav__item">
      <a class="c-nav__item-link" href=""><i class="icon icon-house"></i> Alojamiento</a>
    </li>
    <li class="c-nav__item">Sobre nosotros</li>
  </ul>
  <a href="/" role="button" class="btn btn-primary c-nav__book"> Reserva </a>
</nav>

<nav class="c-nav c-nav--mobile flex lg:hidden justify-between align-center">
  <a href="/" class="c-nav__logo flex align-center">
    <img class="c-nav__logo-img" src="/images/logos/header-logo.svg" alt="Waveless" />
  </a>
  <button><i class="icon icon-menu"></i></button>
  <div class="c-nav--mobile-menu hidden">
    <div class="c-nav--mobile-header">
      <a href="/" class="c-nav__logo flex align-center">
        <img class="c-nav__logo-img" src="/images/logos/header-logo.svg" alt="Waveless" />
      </a>
      <button><i class="icon icon-close"></i></button>
    </div>
    <ul class="c-nav__items flex align-center">
      <li class="c-nav__item active">
        <a class="c-nav__item-link" href="/">
          <i class="icon icon-mountain"></i>
          Aventura
        </a>
      </li>
      <li class="c-nav__item">
        <a class="c-nav__item-link" href=""><i class="icon icon-world"></i> Destinos</a>
      </li>
      <li class="c-nav__item">
        <a class="c-nav__item-link" href=""><i class="icon icon-house"></i> Alojamiento</a>
      </li>
      <li class="c-nav__item">Sobre nosotros</li>
      <a href="/" role="button" class="btn btn-primary c-nav__book"> Reserva </a>
    </ul>
  </div>
</nav>
