<section class="c-topslider">
  <swiper-container slides-per-view="1" autoplay="true" pagination>
    <swiper-slide class="c-topslider__item">
      <img
        class="c-topslider__item-image"
        src="/images/placeholders/topslider-image-01.png"
        alt="topslider-iamge-01"
      />
      <header class="c-topslider__item-header text-center text-basic-000-white">
        <h2 class="c-topslider__item-title">Ruta por Australia</h2>
        <h3 class="c-topslider__item-subtitle">Si te va la aventura, no te lo puedes perder</h3>
      </header>
      <a href="/" role="button" class="btn btn-secondary">Más información</a>
    </swiper-slide>
    <swiper-slide class="c-topslider__item">
      <img
        class="c-topslider__item-image"
        src="/images/placeholders/topslider-image-01.png"
        alt="topslider-iamge-01"
      />
      <header class="c-topslider__item-header text-center text-basic-000-white">
        <h2 class="c-topslider__item-title">Ruta por Australia</h2>
        <h3 class="c-topslider__item-subtitle">Si te va la aventura, no te lo puedes perder</h3>
      </header>
      <a href="/" role="button" class="btn btn-secondary">Más información</a>
    </swiper-slide>
    <swiper-slide class="c-topslider__item">
      <img
        class="c-topslider__item-image"
        src="/images/placeholders/topslider-image-01.png"
        alt="topslider-iamge-01"
      />
      <header class="c-topslider__item-header text-center text-basic-000-white">
        <h2 class="c-topslider__item-title">Ruta por Australia</h2>
        <h3 class="c-topslider__item-subtitle">Si te va la aventura, no te lo puedes perder</h3>
      </header>
      <a href="/" role="button" class="btn btn-secondary">Más información</a>
    </swiper-slide>
  </swiper-container>
  <nav class="c-topslider__nav flex justify-between absolute">
    <button
      class="btn btn-arrow swiper-button-prev bg-basic-000-white hover:bg-primary-700"
      (click)="swipePrev()"
    >
      <i class="icon icon-arrow-left bg-primary-low-alpha"></i>
    </button>
    <button
      class="btn btn-arrow swiper-button-next bg-basic-000-white hover:bg-primary-700"
      (click)="swipeNext()"
    >
      <i class="icon icon-arrow-right bg-primary-low-alpha"></i>
    </button>
  </nav>
</section>
